.backdrop {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
}

.container {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  padding: 1.5rem;

  border-radius: 1rem;
  background: #fff;
}

.content {
  background-color: #fff;
  padding: 1.5rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.container header {
  border-bottom: 1px solid #999;
  text-align: center;
}
