.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.title-container {
  flex-basis: 250px;
  padding: .8rem;
}

.search-container {
  flex-basis: 50rem;
  padding: 0 1rem 0 1rem;
}

.menu-container {
  padding: 1rem;
  flex-basis: 250px;
}

.menu-container ul {
  display: flex;
  gap: 1rem;
}

.menu-container a {
  text-decoration: none;
  color: #444;
}
