/* .container {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  margin-bottom: .5rem;
}

.dropdown-content {
  display: none;

  min-width: 10rem;
  position: absolute;
  background: #fff;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: .8rem;
  border-radius: .5rem;
}


.dropdown-btn:hover {
  cursor: pointer;
}

.container:hover .dropdown-content {
  display: block;
}

.menu-container li {
  padding: .2rem;
  font-weight: 600;
}

.menu-container li:hover {
  background-color: #f1f5f9;
  border-radius: .5rem;
  cursor: pointer;
}

.menu-container li:not(:last-child) {
  padding-bottom: .2rem;
} */
